.auth-modal .modal-content {
    border-radius: 0;
    padding: 20px;
}

.auth-modal .auth-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.auth-divider {
    border-right: 1px solid #ddd;
}

.auth-modal .btn-auth,
.auth-modal .btn-auth:focus {
    background-color: #3f5d85;
    color: #fff;
    padding: 8px 20px;
    border: none;
    width: auto;
    height: auto;
    font-size: 14px;
}

.auth-modal .btn-auth:hover {
    background-color: #324a6d;
    color: #fff;
}

.form-note {
    font-size: 14px;
    color: #666;
}