html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.products-wrapper {
    display: flex;
    width: 1200px;
    margin: 40px auto;
}

/* SIDEBAR */
.products-sidebar {
    width: 240px;
    border: 1px solid #eee;
    position: sticky;
    top: 20px;
    height: fit-content;
}

.sidebar-item {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.sidebar-item:hover {
    background: #f5f5f5;
}

.sidebar-item.active {
    font-weight: 600;
    border-left: 4px solid #000;
    background: #fafafa;
}

/* CONTENT */
.products-content {
    flex: 1;
    padding-left: 40px;
}

.product-section {
    margin-bottom: 100px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card img {
    width: 100%;
}

.product-card p {
    margin: 10px 0 5px;
}

.product-card span {
    font-weight: bold;
}
.product-card .old-price {
    text-decoration: line-through;
    color: #888;
    font-weight: normal;
    margin-left: 10px;
}