* {
    padding: 0;
    margin: auto; 
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: rgb(51, 51, 51);
}

main {
    padding: 0 90px;
    align-items: center;
}

.product-section {
    width: 100%;
    margin: 20px 0;
    display: flex;
}

.sidebar-menu {
    width: 200px;
    margin-right: 40px;
}

.sidebar-menu-list {
    list-style: none;
    padding: 0;
}

.sidebar-menu-list li {
    background-color: rgb(242, 242, 242);
    padding: 20px 0 20px 20px;
    border:rgb(216, 216, 216) 1px solid;
    width: 200px;
    font-weight: 400;
}

.sidebar-menu-list li:hover {
    background-color: rgb(195, 195, 195);
}

.sidebar-menu-list a {
    font-size: 16px;
    text-decoration: none;
    color: black
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 60%;
    height: 220 px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.05);
}

.product-item h4 {
    margin: 10px 0 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.product-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

.product-item:hover a {
    color: #555555;
}